@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --font:'Roboto', sans-serif;
  --darkblue: rgba(83, 117, 226, 0.96);
  --lightblue:rgba(83, 117, 226, 0.15);
  --grayfont:rgba(92, 97, 110, 1);
  --red:rgba(253, 84, 84, 0.98);
  --graybg:rgba(92, 97, 110, 1)
  --black:rgba(0, 0, 0, 1);
  --white:rgba(255,255,255,1);
}

*{
    margin:0px;
    padding:0px;
    font-family:var(--font);
    box-sizing: border-box;
}
.flex{
    display:flex;
}
.flex-sb{
   justify-content: space-between; 
}
.f-50{
    font-size: 50px;
}
.f-30{
    font-size: 30px;
}
.f-25{
    font-size: 25px;
}
.f-20{
    font-size: 20px;
}
.f-15{
    font-size: 15px;
}
.wd-20{
    width: 20%;
}
.wd-70{
    width:70%;
}
.wd-80{
    width:80%;
}
.wd-40{
    width: 40%;
}
.text-justify{
    text-align: justify;
}

/* NAV */
.main{
    position: relative;
}
.header{
    height:6vh;
    background-color: aqua;
}
.company-name{
    padding:20px 40px;
}
.span-name{
    color:brown
}
.nav-list{
    list-style: none;
}
.nav-list-item{
    float:left;
    padding:20px 40px;
    cursor:pointer;
}
.nav-list-item-links{
    color:black;  
    text-decoration: none;
}
.nav-list-item-links:hover{
    color:crimson;
}
.fa-solid.fa-bars {
    display: none;
    color:black;
    position: absolute;
    top:15px;
    right:7%;
    z-index:2;
}

/* Carousel */

.carousel{
    margin:20px auto;
}
.d-block{
    border-radius:40px;
}

/* Image-Text-Section */

.image-text-section{
    margin:60px auto;
}
.section-image{
    object-fit: cover;
    border-radius: 20px;
    height: auto;

}
.text{
    line-height: 200%;
}
/* Only-Text-Section */

.only-text{
    margin:20px auto;
}

/* Services */

.services{
    margin:30px auto;
}
.our-services-text{
    text-align: center;
    margin:30px;
}
.services-content{
    flex-wrap: wrap;
}
.services-card img{
    border-radius:20px;
    object-fit: cover;
    margin-bottom: 20px;
}
.services-card img:hover{
    transform: scale(1.1);
}

/* Footer */

.footer{
    height:400px;
    position: relative;
    
}
.footer-image{
    object-fit: cover;
    opacity: 0.3;
}
.footer-navs{
    position: absolute;
    top:0;
    width:80%;
    margin:10px 20px;
}
.footer-nav{
    width: 40%;
}
.footer-nav-list-item{
    list-style-type: none;
    padding:20px 0px;
    
}
.footer-nav-list-item-link{
    font-size: 15px;
    color:black;

}
.copyright{
    font-size: 20px;
    margin-top:-50px;
    text-align: center;
}
/* Static Banner */
.banner{
    width: 70%;
    margin: 20px auto; 
}
.banner-image{
    object-fit: cover;
    border-radius: 20px;
    width:100%;
    max-height: 850px !important;
}

/* Board Member */

.board-section{
    margin:30px auto;
}
.our-board-text{
    text-align: center;
}
.board-members img:hover{
    opacity:0.5;
}
.president{
    margin:30px auto;
    position: relative;
}
.president-name{
    position: absolute;
    top: 50%;
    left:10%;
    display: none;
}
.president img:hover + .president-name{
    display: block;
    animation: mymove 2s;
    animation-iteration-count: 1
}
.v-president{
    margin:30px auto;
    position: relative;
}
.v-president-name{
    position: absolute;
    top: 50%;
    left:10%;
    display: none;
}
.v-president img:hover + .v-president-name{
    display: block;
    animation: mymove 2s;
    animation-iteration-count: 1
}
.emp{
    margin:30px auto;
    position: relative;
}
.emp-name{
    position: absolute;
    top: 50%;
    left:10%;
    display: none;
}
.emp img:hover + .emp-name{
    display: block;
    animation: mymove 2s;
    animation-iteration-count: 1
}

/* Contact */
.contact{
    margin:30px auto;
}
.contact-form{
    width:50%;
    margin:0px auto;
    font-size: 18px;
    border-radius: 20px;
    color: var(--grayfont);
    border: 5px solid var(--lightblue);
    box-shadow: 1px 2px 5px 5px var(--lightblue);
    -webkit-box-shadow: 1px 2px 5px 5px var(--lightblue);
    -moz-box-shadow: 1px 2px 5px 5px var(--lightblue);
}
.form{
    padding:15px 15px; 
}
.form h4{
    margin:20px 0px;
}
.input{
    width:60%;
    padding:15px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: var(--lightblue);
}
.submit-button{
    width: 20%;
    margin:0px auto;
    padding-bottom: 20px;

}
.button{
    padding:10px 30px;
    border-radius: 20px;
    background-color: #5778e2;
    border: none;
    outline: none;
    color:white;
    cursor: pointer;
    font-size: 20px;
}
.address{
    text-align: center;
}

/* About */

.about{
    margin:30px auto;
}
.h-text{
    margin-bottom: 20px;
    line-height: 1.6;
}
.colorful{
    color:red;
    font-weight: bold;
    text-transform: uppercase;
}

@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }








@media screen and (max-width: 1200px) {
    .flex-col{
        flex-direction: column;
    }
    .r-wd-85{
        width: 85%;
    }
    .company-name-text{
        padding:5px;
        font-size: 20px;
    }
    .nav-list-item{
        font-size: 20px;
        padding:20px;
    }
    .image-section{
        margin-right:30px;
    }
    .text{
        margin-top:0px;
        font-size:20px;
        margin-right:30px;
    }
    .r-wd-90{
        width: 90%;
    }
    .r-wd-100{
        width: 100%;
    }
    .image-name{
        text-align: left;
    }
    .services-card{
        width: 70%;
        margin:40px auto;
    }
    .services-card img{
        height: 400px;
        width:400px;
    }
    .footer{
        height:800px;
        position: relative;
        
    }
    .board-members img{
        height: 400px;
        width: 400px;
    }
    .map{
        margin:40px 50px;
    }
    

}

@media screen and (max-width: 997px) {
    .flex-col{
        flex-direction: column;
    }
    .r-wd-90{
        width: 90%;
    }
    .r-wd-85{
        width: 85%;
    }
    .r-wd-30{
        width: 30%;
    }
    .r-fs-20{
        font-size: 20px;
    }
    .main{
        position: relative;
    }
    .company-name-text{
        font-size: 23px;
    }
    .nav-list-item{
        display: none;
    }
    i{
        display: block !important;
    }
    .image-name{
        text-align: left;
    }

    .responsive .nav-list-item{
        float:none;
        display: block;
        color:black;
        text-align: left;
        margin-top:70px;
    }
    .responsive .nav-list{
        height:100vh;
        background-color: aqua;
        transition: all ease 1s;
        z-index:1;
    }
    .image-text-section{
        margin-right:40px;
    }
    .section-image{
        width: 90%;
    }
    .text-section{
        width: 90%;
        margin-left: 0px;
    }
    .only-text{
        margin-right: 40px;
    }
    .services-card{
        margin:40px auto;
    }
    .image-name{
        text-align: left;
    }
    .services-card img{
        height: 200px;
        width:200px;
    }
    .footer{
        height:800px;
        position: relative;   
    }
    .copyright{
        margin-top:-80px;
    }
    .board-members img{
        height: 300px;
        width: 300px;
    }
    .map{
        margin:40px 50px;
    }
    
}


