.body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.main{
    width:100%;
    background-color: aqua;
}
.header{ 
    width:90%;
    margin:0px auto;
    padding:20px 0px;
    justify-content: space-between;
    color:red;
}
.span-name{
    color: green;
}
.nav-list-item{
    list-style-type: none;
    float: left;
    padding:20px 40px;
}
.nav-list-item-links{
    text-decoration: none;
    font-size: 25px;
    color:red; 
}
.carousel{
    width: 65%;
    margin:40px auto;
}

.text-image{

    width: 80%;
    margin:70px auto;
    justify-content: space-between;
}
.text{
    width: 50%;
    font-size: 30px;
    text-align: justify;
}
.image{
    width: 50%;
    height: 30%;
}
.only-text-section{
    margin-top:30px;
    font-size: 30px;
    text-align: justify;
}

.services{
    width:70%;
    margin:40px auto;
}
.services-heading-text{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}
.services-content{
    justify-content: space-between;
}
.services-text{
    margin-top:15px;
    font-size: 30px;
}
.services-box{
    width:30%;
}

.footer-image{
    object-fit: cover;
}